@model IEnumerable<RandomApp.Models.Subject>

@{
    ViewBag.Title = "Admin";
}

<h3>Admin Home</h3>
<h2>As an Admin, You can create a quiz for your students to take so they can test themselves wherever they are</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubjectID })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Add Grade >", "Index", "Grades")
<br />
<a class="btn btn-success" href="@Url.Action("")"> Generate Report</a>
