@model RandomApp.Models.THEME

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>THEME</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThemeMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThemeMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ThemeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
